# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.rollup.cache/

# Environment
.env.local
.env.production

# Logs
*.log
logs/

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary
tmp/
temp/

#Private server infrastructure
infra